body {
  margin: 0 auto;
  padding: 0;
}

p[dir="ltr"] {
  text-align: right;
}

textarea[dir="ltr"] {
  text-align: right;
}

.toastCallout {
  min-width: 400px;
}

.toastCallout svg {
  margin-top: 7px;
}

.toastError {
  background-color: var(--crimson-3);
  color: var(--crimson-11);
}
