body {
  margin: 0 auto;
  padding: 0;
}

p[dir="rtl"] {
  text-align: right;
}

textarea[dir="ltr"] {
  text-align: left;
}

textarea[dir="rtl"] {
  text-align: right;
}

button.addManifest {
  background: transparent;
  color: var(--colors-primary);
  font-weight: 400;
}

button.addManifest:hover {
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);
}

.toastCallout {
  min-width: 400px;
  background-color: var(--accent-3) !important;
}

.toastCallout svg {
  margin-top: 7px;
}

.toastError {
  background-color: var(--ruby-3) !important;
  color: var(--ruby-11);
}
